.footer {background-color: navy;}
header {background-color: navy;}
h1 {background-color:navy;
color: red;}
body {background-color: teal;}

nav a {text-decoration: none;
	color: white;}
nav a:link {text-decoration:none;'
color: white;}
nav a:visited {color: purple;
background-color: black;}
nav a:hover {font-weight: bold;
color: black; }

carousel-content {
    color:black;
    display:flex;
    align-text:right;
	
}
